<section>
  <nav class="navbar navbar-expand-xl bg-dark navbar-dark py-3 fixed-top">
    <div class="container-fluid">

      <img
        src="./ChatGPT_Image_2026._febr._16._19_40_56-removebg-preview.png"
        class="img-fluid d-none d-lg-block"
        alt=""
      >

      <a routerLink="/" class="navbar-brand fs-1 mx-5 fw-bold" (click)="closeMenu()">
        <span class="text-warning">GYM</span>BOX
      </a>

      <button class="navbar-toggler" type="button" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="navbar-collapse mx-5 align-items-center"
        [class.mobile-open]="menuOpen"
      >
        <ul class="navbar-nav ms-auto">

          <li class="nav-item p-3 fs-3 border-start border-white my-1">
            <a routerLink="/home" class="nav-link text-white navBOX" (click)="closeMenu()">
              Rólunk
            </a>
          </li>

          <li class="nav-item p-3 fs-3 border-start border-white my-1">
            <a routerLink="/berlesek" class="nav-link text-white navBOX" (click)="closeMenu()">
              Bérlés
            </a>
          </li>

          <ng-container *ngIf="!auth.loggedinFelhasznalo()">
            <li class="nav-item p-3 fs-3 border-start border-white my-1">
              <a routerLink="/login" class="nav-link text-white navBOX" (click)="closeMenu()">
                Bejelentkezés
              </a>
            </li>

            <li class="nav-item p-3 fs-3 border-start border-white my-1">
              <a routerLink="/register" class="nav-link text-white navBOX" (click)="closeMenu()">
                Regisztráció
              </a>
            </li>
          </ng-container>

          <ng-container *ngIf="auth.loggedinFelhasznalo() as user">
            <li class="nav-item p-3 fs-3 border-start border-white my-1">
              <a routerLink="/loggedin" class="nav-link text-warning navBOX" (click)="closeMenu()">
                Szia {{ user.nev }}
              </a>
            </li>

            <li class="nav-item p-3 fs-3 border-start border-white my-1" *ngIf="user.isAdmin">
              <a routerLink="/admin" class="nav-link text-warning navBOX" (click)="closeMenu()">
                Admin
              </a>
            </li>

            <li class="nav-item p-3 fs-3 border-start border-white my-1" *ngIf="user.edzoE">
              <a routerLink="/edzesterv-keszites" class="nav-link text-warning navBOX" (click)="closeMenu()">
                Edzésterv készítés
              </a>
            </li>

            <li class="nav-item p-3 fs-3 border-start border-white my-1">
              <a routerLink="/sajat-berleseim" class="nav-link text-white navBOX" (click)="closeMenu()">
                Bérléseim
              </a>
            </li>

            <li class="nav-item p-3 fs-3 border-start border-white my-1">
              <button class="btn btn-outline-warning" (click)="logout()">
                Kijelentkezés
              </button>
            </li>
          </ng-container>

        </ul>
      </div>
    </div>
  </nav>
</section>